nbproject
._*
.~lock.*
.buildpath
.DS_Store
.project
.settings
composer.lock
vendor/
node_modules
dist
.tmp
.sass-cache
bower_components/
.idea
composer.phar
public
build
!public/ooyala
!public/index.php
module/Application/config
app/scripts/services/config.js
app/rightnow
.gradle
data/log/*