<div class="modal-content" >
    <div class="modal-header"></div>
    <div class="modal-body dialogModalBody ng-scope">
        <div class="popupMsg center-block">
            <div class="popup-body ng-scope">
                <p translate="TXT_EXISTING_CC"></p>
            </div> 
            <div class="popup-footer ng-scope">
                <div class="buttons center">
                        <button class="btn btnOrange btnOk" ng-click="proceedWithoutTrial()">PROCEED</button>
                        <button class="btn btnOrange btnOk" ng-click="redirectToBillingPagetoUpdatePaymentMethod()">UPDATE</button>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div> 
    <div class="modal-footer ng-scope">
    </div>
</div>
