<div class="modal-content" >
    <div class="modal-header"></div>
    <div class="modal-body dialogModalBody ng-scope">
        <div class="popupMsg center-block">
            <div class="popup-body ng-scope">
                <h6>
                    <span translate="TXT_LANGUAGE_SWITCH_MESSAGE"></span>
                </h6>
            </div> 
            <div class="popup-footer ng-scope">
                <div class="buttons center">
                        <button class="btn btnOrange btnOk" ng-click="languageSwitchAction()" translate="BTN_OK_LIVE"></button>
                        <button class="btn btnGrey" ng-click="cancelLanguageSwitchAction()" translate="BTN_CANCEL_LIVE"></button>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div> 
    <div class="modal-footer ng-scope">
    </div>
</div>
