<div class="modal-content" >
    <div class="modal-header"></div>
    <div class="modal-body dialogModalBody ng-scope">
            <div class="popupMsg center-block" >
                <div class="popup-body ng-scope">
                    <h6>
                        <span translate="TXT_RESUME_PLAYBACK"></span>
                    </h6>
                </div> 
                <div class="popup-footer ng-scope">
                    <div class="buttons center">
                        <button class="btn btnOrange btnOk" ng-click="playheadResumeOkAction()" translate="BTN_YES_MANAGE_ACCOUNT"></button>
                        <button class="btn btnGrey" ng-click="playheadResumeCancelAction()" translate="BTN_NO_MANAGE_ACCOUNT"></button>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div> 
        <div class="modal-footer ng-scope"></div>
    </div>
</div>