<div class="modal-content" >
    <div class="modal-header"></div>
    <div class="modal-body dialogModalBody ng-scope">
        <div class="popupMsg" >
            <div class="popup-body ng-scope">
                <h6>
                    <span translate="TEXT_SUCCESS_EMAIL_SEND"></span>
                </h6>
            </div> 
            <div class="popup-footer ng-scope">
                <div class="buttons center">
                     <div class="col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btnOrange" translate="BTN_OK_LIVE" ng-click="closeAction()"></button>
                    </div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div> 
    <div class="modal-footer ng-scope">
    </div>
</div>