<div class="modal-content" >
    <div class="modal-header"></div>
    <div class="modal-body dialogModalBody ng-scope">
        <div class="popupMsg center-block" >
            <div class="popup-body ng-scope">
                <h5>
                    Do you want to edit your payment info?
                </h5>
                <p>Editing your credit card or changing a payment method, will remove the current payment information from our records</p>
            </div> 
            <div class="popup-footer ng-scope">
                <div class="buttons center">
                    <button class="btn btnOrange btnOk">Edit my payment info</button>
                    <button class="btn btnGrey">Cancel</button>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div> 
    <div class="modal-footer ng-scope">
    </div>
</div>