<div class="modal-content" >
    <div class="modal-header"></div>
    <div class="modal-body ng-scope">
        <div class="popupMsg center-block" >
            <div class="popup-body ng-scope">
                <h6>
                    <span translate="MSG_CHOOSE_LANG"></span>
                </h6>
            </div> 
            <div class="popup-footer ng-scope">
                <div class="buttons center">
                    <button class="btn btnOrange btnOk" ng-click="languageChooseAction('en_US')" translate="HOVER_TXT_ENGLISH_SUBSCRIBER"></button>
                    <button class="btn btnGrey" ng-click="languageChooseAction('es_ES')" translate="HOVER_TXT_SPANISH_SUBSCRIBER"></button>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div> 
    <div class="modal-footer ng-scope">
    </div>
</div>