       <div >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 center text-center col-sm-6 col-xs-12"> 
                        <a ng-click="onLogoClick()"><img ng-src="{{logoweb}}" ng-show="showlogo" ></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 center text-center col-sm-6 col-xs-12 cancel-confirm-dialog" > 
                         <div style="padding:10px 60px">
                            <h3>Site under maintenance</h3>
                        </div>
                        <hr class="hr-black" />
                        <h4 style="color:white;" ng-bind="maintenance_msg"> </h4>
                         <div class="row" style="padding:10px 4px 36px 10px;">

                         
                          <!--   <div class="col-md-5 col-md-offset-1" > 
                                <button class="white-button" ng-click="Cancellation('yes')">YES</button>
                            </div>
                                 <div class="col-md-5 "> 
                                    <button class="turkoise-button" ng-click="cancel()">NO</button>
                                 </div> -->

                        </div>
                    </div>

                </div>
            </div>
        </div>