<!-- header area -->
<div ng-include="'/views/signup/header.html'" ></div>
<!-- body -->
<div class="fullWidth signupSelectPackage">
	<h2>Create your account</h2>
	<div class="signupPackageList col-md-10 col-sm-10 col-xs-12 center-block">
		<div class="signupPackage fullWidth"  ng-class="{packageCheckboxChecked:packageSelection,packageCheckbox:!packageSelection}">
			<div class="fullWidth parent signupPackageCont">
				<form novalidate  name="signupForm" role="form" class="signup-form">
					<div class="row">
						<div class="col-md-6 center col-sm-8 col-xs-12">
							<h2 translate="TXT_SIGNUP_CREATE_ACCOUNT_EXISTING_ACCOUNT"></h2>
						</div>
					</div>
					<span ng-show="ajaxRegisterFormSpinner" us-spinner="{radius:25, width:8, length: 16}" class="yelloworangeloader"></span>
					<div class="row">
						<div class="col-md-3 center col-sm-8 col-xs-12 package-content-box-3">
							<span class="icon-user-logo center-block col-md-margin-bottom-3"></span>
							<div class="form-group note parent">
								<span ng-show="usernameCheckSpinner" us-spinner="{radius:5, width:4, length: 8}" class="blackloader"></span>
								<input id="uName" name="uName" type="text" class="form-control" placeholder="{{'HINT_SIGN_UP_USERNAME'|translate}}" ng-model="uName" ng-maxlength="25" ng-pattern="/^[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 _]*$/" required>
                                <!-- <div class="custom-tootltip" ng-show="usernameExist" ng-click="closeUsernameExist()">
                                     <h6 translate="TXT_SIGNUP_ACCOUNT_EXISTS_EXISTING_ACCOUNT"></h6>
                                 </div> -->
                                 <span ng-show="signupForm.uName.$valid && signupForm.uName.$dirty" class="icon-custom-valid col-md-1"></span>
                                 <span ng-show="signupForm.uName.$invalid && signupForm.uName.$dirty" class="icon-custom-invalid col-md-1"></span>
                             </div>  
                             <div class="form-group note parent">
                             	<span ng-show="emailCheckSpinner" us-spinner="{radius:5, width:4, length: 8}" class="blackloader"></span>
                             	<input name="uEmail" ng-model="uEmail" type="text" class="form-control" placeholder="{{'HINT_TXT_EMAIL_ADDRESS_SIGN_UP'|translate}}" required ng-pattern="/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/" ng-blur="checkEmailExist(uEmail)"> 
                             	<div class="custom-tootltip" ng-show="emailExist" ng-click="closeEmailExist()">
                             		<h6 translate="TXT_SIGNUP_ACCOUNT_EXISTS_EXISTING_ACCOUNT"></h6>
                             	</div>
                                <!-- <div class="custom-tootltip staticTooltip" ng-show="emailExist" ng-click="closeEmailExist()">
                                     <h6 translate="TXT_SIGNUP_ACCOUNT_EXISTS_EXISTING_ACCOUNT"></h6>
                                 </div> -->
                                 <span ng-show="signupForm.uEmail.$invalid && signupForm.uEmail.$dirty" class="icon-custom-invalid col-md-1"></span>
                                 <span ng-show="signupForm.uEmail.$valid && signupForm.uEmail.$dirty" class="icon-custom-valid col-md-1"></span>
                             </div>
                             <div class="form-group">
                             	<input name="uReEmail" ng-model="uReEmail" type="text" class="form-control" placeholder="{{'HINT_TXT_CONFIRM_EMAIL_ADDRESS_SIGN_UP'|translate}}" required ng-pattern="/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/" equals="{{uEmail}}">
                             	<span ng-show="signupForm.uReEmail.$invalid && signupForm.uReEmail.$dirty" class="icon-custom-invalid col-md-1"></span>
                             	<span ng-show="signupForm.uReEmail.$valid && signupForm.uReEmail.$dirty" class="icon-custom-valid col-md-1"></span>
                             </div>
                             <div class="form-group">
                             	<input name="uPassword" type="password" class="form-control" placeholder="{{'HINT_TXT_PASSWORD_SIGN_UP'|translate}}" ng-model="uPassword" ng-minlength="6" ng-maxlength="20" required>
                             	<span ng-show="signupForm.uPassword.$invalid && signupForm.uPassword.$dirty" class="icon-custom-invalid col-md-1"></span>
                             	<span ng-show="signupForm.uPassword.$valid && signupForm.uPassword.$dirty" class="icon-custom-valid col-md-1"></span>
                             </div>
                             <div class="form-group">
                             	<input name="uRepassword" type="password" class="form-control" placeholder="{{'HINT_TXT_PASSWORD_REENTER_SIGN_UP'|translate}}" ng-model="uRepassword" equals="{{uPassword}}" ng-minlength="6" ng-maxlength="20" required>
                             	<span ng-show="signupForm.uRepassword.$invalid && signupForm.uRepassword.$dirty" class="icon-custom-invalid col-md-1"></span>
                             	<span ng-show="signupForm.uRepassword.$valid && signupForm.uRepassword.$dirty" class="icon-custom-valid col-md-1"></span>
                             </div>
                             <div class="form-group" ng-if="enableSocialLinking">
                             	<div class="col-md-12 col-md-padding-left-15 link_social_accounts">
                             		<h5 class="text-lightgrey" translate="TXT_LINK_SOCIAL_ACCOUNT_SIGNUP"></h5>
                             		<button ng-click="iconFacebookGigya()" ng-class="{'icon-link-facebook':!facebookButtonStatus,'icon-link-active-facebook':facebookButtonStatus}" ng-disabled="!signupForm.$valid || emailCheckSpinner" ng-if="enableFacebook"></button>
                             		<button ng-click="iconTwitterGigya()" ng-class="{'icon-link-twitter':!twitterButtonStatus,'icon-link-active-twitter':twitterButtonStatus}" class="icon-link-twitter" ng-disabled="!signupForm.$valid || emailCheckSpinner" ng-if="enableTwitter"></button>

                             		<div class="custom-tootltip" ng-show="providerExist" ng-click="closeProviderExist()">
                             			<h6>{{socialProvider | uppercase}} {{'TXT_SIGNUP_ACCOUNT_EXISTS_EXISTING_ACCOUNT' | translate}}</h6>
                             		</div>
                             	</div>
                             </div>
                         </div>
                     </div>
                     <div class="row">
                     	<div class="col-md-3 center col-sm-8 col-xs-12 errorMsg" ng-show="registrationError">
                     		<span class="errorIcon">{{registrationErrorMessage | translate}}</span>
                     		<span class="closeError" ng-click="closeRegistrationErrorAlert()"></span>
                     	</div>
                     	<div class="col-md-3 center col-sm-8 col-xs-12 errorMsg" ng-show="socialRegistrationError">
                     		<span class="errorIcon">{{socialProvider | uppercase}} {{socialRegistrationErrorMessage | translate}}</span>
                     		<span class="closeError" ng-click="closeSocialRegistrationErrorAlert()"></span>
                     	</div>
                     </div>
                     <div class="row">
                     	<div class="ppContainer" style="width: 425px;">
                     		<span ng-bind="'TXT_VIEW_PRIVACY_POLICY' | translate"></span>
                     		<a ng-href="{{toc[0].mpath}}" target="_blank" ng-bind="'TXT_ABOUT_TERMS_OF_USE_EXTRAS' | translate"></a> {{'TXT_AND' |  translate}} <a ng-href="{{privacyPolicy[0].mpath}}" target="_blank" ng-bind="'TXT_ABOUT_PRIVACT_POLICY_EXTRAS' | translate"></a>
                     	</div>
                     </div>

                     <div class="row">
                     	<div class="col-md-3 center text-center col-sm-6 col-xs-12"> 
                     		<button class="btn-custom-orange btn-next btn-block" ng-click="registrationProcessFunction()" translate="BTN_CREATE_ACCOUNT_SIGNUP" ng-disabled="!signupForm.$valid || ajaxRegisterFormSpinner || emailCheckSpinner"></button>
                     	</div>
                     </div>
                 </form>
             </div>
         </div>
         <div class="clear"></div>
     </div>
 </div>