<!-- Email Notification -->
	<div class="container-fluid help-default-style">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 col-md-padding-top-5">
				<h5 class="st-nav-adminHeader" translate="TXT_ADMIN_NEED_HELP_HELP_PAGE"></h5>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 col-md-padding-top-2">
				<a ng-href="{{help[0].mpath[CurrentLang]}}"><button class="btn-custom-orange"  translate="BTN_ADMIN_VISIT_HELP_CENTER_HELP_PAGE"></button></a>
			</div>
		</div>
	</div>
</div>