   
 <!-- Footer -->
 <div class="container footerContainer" style="margin-top:100px" >
    <div class="row footer" id="webFooter">
    <div class="col-md-12 col-lg-12">
    <ul class="list-inline">
      <li class="copyright">
        <span class="footerCopy">&copy; 2014 DirecTV, LLC |</span>
      </li>
      <li>
          <a href="/termsOfUse" class="footerText" id="terms">Condiciones de uso</a>
      </li>
      <li>
       <a href="/privacyPolicy" class="footerText" id="policy">Política de privacidad</a> 
      </li>
      <li>
        <a href="/" class="footerText" id="help">Ayudar</a>
      </li>
      <li>
        <a href="#" class="footerText">Mapa del Sitio</a> 
      </li>
      <li>
        <a href="#" class="footerText">Dónde ver</a>
      </li>
      <li class="build pull-right">
        <span class="footerCopy">  Build v0.4.4-(1187)</span>
      </li>
    </ul> 
    </div>
    </div>  
  </div>      