@import 'index';
$live-headercolor:#2D3031;
$live-columncolor:#93b0bb;
$program-title: #868d90;
$time-bgcolor: #93b0bb;

.livePlayer{
  margin-top: 60px;
  float: left;
  width: 100%;
  display: block;
  clear: both;
  .liveContents{
    position: absolute;
    width: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(11, 21, 29, 0.48);
    transition: width .8s;
    color: #FFF;
    overflow: hidden;
    .liveContentHolder{
      float: left;
    }
    .liveDate{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 44px;
      transition: top .8s;
      .transOpac{
        opacity: 0;
        transition: opacity .8s;
      }
      h4{
        text-align: center;
        margin: 0px;
        line-height: 34px;
        margin-top: 5px;
        color: #FFF;
        font-family: 'DINWebPro-Light';
        font-size: 18px;
        transition: font-size .8s;
        min-width: 112px;
        max-height: 34px;
        overflow-y: hidden;
        white-space: nowrap;
      }
      .prevDayBtn{
        opacity: 0;
      }
      .nextDayBtn{
        opacity: 0;
      }
    }
    .livePrograms{
      position: absolute;
      left: 0;
      right:0;
      top: 0;
      bottom: 40px;
      .nextBtn{
        cursor: pointer;
        position: absolute;
        z-index: 1111;
        width: 30px;
        right: 0;
        top: 0;
        bottom: 0;
        background: url('/images/icon/rails_arrow_r.png') center no-repeat;
        transition: opacity .3s;
        background-size: 20px;
      }
      .prevBtn {
        cursor: pointer;
        position: absolute;
        z-index: 1111;
        width: 30px;
        left: 0px;
        top: 0;
        bottom: 0;
        background: url('/images/icon/rails_arrow_l.png') center no-repeat;
        transition: opacity .3s;
        background-size: 20px;
      }
      .scrollBarTop{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
      }
      .scrollBarChannelTop{
        position: absolute;
        top: -30px;
        width: 250px;
        height: 35px !important;
        left: 10px;
        z-index: 11;
        cursor: pointer;
        .upBtn{
          background: url("/images/icon/rails_arrow_l.png") center no-repeat;
          width: 30px;
          height: 30px;
          transform: rotate(90deg);
          margin: 0 auto;
          background-size: 24px;
        }
      }
      .scrollBarChannelBottom{
        position: absolute;
        bottom: -30px;
        width: 250px;
        height: 35px !important;
        left: 10px;
        z-index: 11;
        cursor: pointer;
        .downBtn{
          background: url("/images/icon/rails_arrow_l.png") center no-repeat;
          width: 30px;
          height: 30px;
          transform: rotate(-90deg);
          margin: 0 auto;
          background-size: 24px;
        }
      }
      .liveTimeLine, .liveBottomLine{
        position: absolute;
        right: 10px;
        left: 285px;
        top: 88px;
        height: 35px;
        float: left;
        background: -moz-linear-gradient(top, rgba(7,26,42,0.84) 0%, rgba(10,27,40,0.84) 50%, rgba(7,26,42,0.84) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,26,42,0.84)), color-stop(50%,rgba(10,27,40,0.84)), color-stop(100%,rgba(7,26,42,0.84))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(7,26,42,0.84) 0%,rgba(10,27,40,0.84) 50%,rgba(7,26,42,0.84) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(7,26,42,0.84) 0%,rgba(10,27,40,0.84) 50%,rgba(7,26,42,0.84) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(7,26,42,0.84) 0%,rgba(10,27,40,0.84) 50%,rgba(7,26,42,0.84) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(7,26,42,0.84) 0%,rgba(10,27,40,0.84) 50%,rgba(7,26,42,0.84) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6071a2a', endColorstr='#d6071a2a',GradientType=0 ); /* IE6-9 */
        @include roundCornerS;
        border-top: 2px solid rgba(255, 255, 255, 0.1);
        border-left: 2px solid rgba(255, 255, 255, 0.1);
        border-bottom: 2px solid rgba(0, 0, 0, 0.15);
        border-right: 2px solid rgba(0, 0, 0, 0.15);
        overflow:hidden;
        .timeSlot{
          transition: margin .5s;
        }
        .block{
          text-align: center;
          height: 32px;
          line-height: 30px;
          float: left;
          display: inline-block;
          width: 200px;
          margin: 0px 3px;
        }
      }
      .liveBottomLine{
        top:auto;
        bottom:-26px;
      }
      .liveProgramTable{
        margin-top: 115px;
        width: 100%;
        display: block;
        padding: 10px;
        clear: both;
        float: left;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .liveListContents{
          width: 100%;
          border-collapse: collapse;
          float: left;
        }
        .block{
          height: 80px;
          margin: 3px;
          float: left;
          background: -moz-linear-gradient(top, rgba(7,26,42,0.84) 0%, rgba(10,27,40,0.84) 50%, rgba(7,26,42,0.84) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,26,42,0.84)), color-stop(50%,rgba(10,27,40,0.84)), color-stop(100%,rgba(7,26,42,0.84))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, rgba(7,26,42,0.84) 0%,rgba(10,27,40,0.84) 50%,rgba(7,26,42,0.84) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, rgba(7,26,42,0.84) 0%,rgba(10,27,40,0.84) 50%,rgba(7,26,42,0.84) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, rgba(7,26,42,0.84) 0%,rgba(10,27,40,0.84) 50%,rgba(7,26,42,0.84) 100%); /* IE10+ */
          background: linear-gradient(to bottom, rgba(7,26,42,0.84) 0%,rgba(10,27,40,0.84) 50%,rgba(7,26,42,0.84) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6071a2a', endColorstr='#d6071a2a',GradientType=0 ); /* IE6-9 */
          @include roundCornerS;
          border-top: 2px solid rgba(255, 255, 255, 0.1);
          border-left: 2px solid rgba(255, 255, 255, 0.1);
          border-bottom: 2px solid rgba(0, 0, 0, 0.15);
          border-right: 2px solid rgba(0, 0, 0, 0.15);
        }
        .blockActive{
          background: -moz-linear-gradient(top, rgba(4,114,173,0.84) 0%, rgba(13,70,101,0.84) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,114,173,0.84)), color-stop(100%,rgba(13,70,101,0.84))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, rgba(4,114,173,0.84) 0%,rgba(13,70,101,0.84) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, rgba(4,114,173,0.84) 0%,rgba(13,70,101,0.84) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, rgba(4,114,173,0.84) 0%,rgba(13,70,101,0.84) 100%); /* IE10+ */
          background: linear-gradient(to bottom, rgba(4,114,173,0.84) 0%,rgba(13,70,101,0.84) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60472ad', endColorstr='#d60d4665',GradientType=0 ); /* IE6-9 */
          border-top: 2px solid rgba(82, 164, 208, 0.44);
          border-left: 2px solid rgba(13, 102, 156, 0.52);
          border-bottom: 2px solid rgba(6, 22, 31, 0.55);
          border-right: 2px solid rgba(6, 22, 31, 0.45);
        }
        .liveChannelList{
          float: left;
          width: 260px;
          position: absolute;
          z-index: 1;
          bottom: 0;
          top: 10px;
          left: 10px;
          overflow: hidden;
          .liveChannelListCont{
            transition: margin .5s;
          }
          .liveChannelLogo{
            width: 250px;
            cursor: pointer;
            position:relative;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
        .liveProgramList{
          width: 100%;
          float: left;
          right: 0;
          left: 0;
          bottom: 0;
          padding-left: 273px;
          top: 10px;
          .liveProgramListHolder{
            overflow: hidden;
          }
          #livelistcontainer {
            position: relative;
            transition: margin .5s;
            width: 10000px;
            margin-left: 0px;
            .block{
              width: 200px;
              position: relative;
              h5{
                font-family: 'DINWebPro-Light';
                margin-top: 0;
                margin-bottom: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .liveProgramTimeSpan{
                font-size: 12px;
                opacity: .8;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .liveProgramDetails{
                text-transform: uppercase;
                font-size: 11px;
                position: absolute;
                /*bottom: 3px;*/
                left: 9px;
                color: #fff5c9;
              }
            }
          }
        }
      }
    }
  }
  .openPrograms, .closePrograms{
    padding: 8px 10px;
    clear: both;
    display: block;
    float: right;
    cursor: pointer;
    color: #FFF;
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0;
    opacity: 0;
    z-index: 1;
    white-space: nowrap;

  }
  .openPrograms{
    background: url("/images/icon/rails_arrow_l.png") center left no-repeat;;
    background-size: 15px;
    padding-left: 20px;
    padding-top: 9px;
  }
  .closePrograms{
    background: url("/images/icon/closeicon_white.png") center right no-repeat;;
    background-size: 11px;
    padding-right: 20px;
    padding-top: 9px;
  }
  .dateDisplay{
    padding: 6px;
    width: 275px;
    text-align: center;
    font-size: 18px;
    clear: both;
    display: none;
    float: left;
    cursor: pointer;
    color: #FFF;
    margin-top: 48px;
    opacity: 0;
    transition: opacity .3s;
    font-family: DINWebPro-Light;

  }
  .closePrograms{
    display: none;
  }
  &:hover{
    .liveContents{
      width: 275px;
      margin-bottom: 31px;
      .liveDate{
        .transOpac{
          opacity: 1;
        }
        h4{
          font-size: 18px;
        }
      }
    }
    .liveContentOverlay{
      display: block;
    }
    .openPrograms, .closePrograms, .dateDisplay{
      opacity: 1;
    }
  }
  .liveContents.showPrograms{
    width: 100%;
    .openPrograms,.dateDisplay{
      display: none;
    }
    .closePrograms{
      display: block;
      opacity: 1;
    }
    .liveDate{
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 20px;
      .transOpac{
        opacity: 1;
      }
      h4{
        text-align: center;
        margin: 0px;
        line-height: 34px;
        margin-top: 5px;
        font-size: 28px;
      }
      .prevDayBtn{
        cursor: pointer;
        z-index: 1111;
        width: 30px;
        left: -30px;
        height: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: url("/images/icon/rails_arrow_l.png") center no-repeat;
        transition: opacity .3s;
        background-size: 20px;
        opacity: .7;
      }
      .nextDayBtn{
        cursor: pointer;
        z-index: 1111;
        width: 30px;
        right: -30px;
        height: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: url("/images/icon/rails_arrow_r.png") center no-repeat;
        transition: opacity .3s;
        background-size: 20px;
        opacity: .7;
      }
    }
  }
}

.upgradeOverlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 8;
    }
    .dollar_icon{
        background: image-url('icon/dollar_burst.png') center no-repeat;
        width: 18px;
        height: 18px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

/*Animations*/
/*.openPrograms{
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  -ms-animation-duration: .5s;
  -webkit-animation-name: liveShowBtn;
  -ms-animation-name: liveShowBtn;
  animation-name: liveShowBtn;
}
@-webkit-keyframes liveShowBtn{
  0%{
    opacity: 0;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  100%{
     opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes liveShowBtn{
  0%{
    opacity: 0;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  100%{
     opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}*/