<div class="manageAccount" ng-controller="personalInformationCtrl">
    <div class="fullWidth signupFinalCheckout">
        <div class="col-md-12 col-sm-12 col-xs-12 informationSuccess center" ng-if="informationSuccessContainer">
            <span class="successIcon"></span>
            <span>{{informationSuccessMessage | translate}}<span ng-if="packageAddSuccessTxt" ng-bind="addonsNamesList"></span>
            <span class="closeInfoAlert" ng-click="closeSuccessMessageAlert()"></span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 informationError center" ng-if="informationErrorContainer">
            {{informationErrorMessage | translate}}<span ng-if="packageAddErrorTxt" ng-bind="unAddedAddonsNamesList">
            </span>
            <span class="closeInfoAlert" ng-click="closeErrorMessageAlert()"></span>
        </div>
        
        <div class="manageAccountHeaderMob" style="">
            <a href="/m.manageAccount" class="backBtnAcMob"></a>
            <h3 translate="TXT_SUBHEADER_ACCOUNT_INFORMATION" class="center-block"></h3>
        </div>
        
        <div class="manageAccountForms">
            <!-- account information -->
            <div class="finalCheckoutForm col-md-6 col-sm-8 col-xs-12 center-block">
                <div class="accountInformation">
                    <div class="billingAddress fullWidth formHolder" ng-class="(informationSuccessContainer || informationErrorContainer) ? 'col-md-padding-top-20': ''">
                        <div class="personalInformation fullWidth parent">
                                <div class="fullWidth parent">
                                    <div class="editControls" ng-if="isPersonalInfoInputEdit">
                                        <button class="btn btnEdit" ng-click="cancelPersonalInfo()" ng-disabled="ajaxPersonalInfoSpinner" translate="TXT_CANCEL_ACCOUNT_MANAGEMENT"></button>
                                        <button class="btn btnOrange" ng-click="savePersonalInfo(firstName, lastName, emailId)" translate="TXT_SAVE_ACCOUNT_MANAGEMENT"></button>
                                    </div>
                                    <hr class="hideMob">
                                </div>
                                <form novalidate  name="personalInfoForm" role="form" class="personal-info-form">
                                    <div class="clear"></div>
                                    <span ng-if="ajaxPersonalInfoSpinner" us-spinner="{radius:20, width:6, length: 12}" class="yelloworangeloader"></span>
                                    <div class="fullWidth">
                                        <div class="row" ng-show="nameInputFields">
                                            <div class="fullWidth">
                                                <div class="col-md-6 col-sm-6 col-xs-6 note parent">
                                                    <label ng-if="!submitted || (personalInfoForm.userFirstname.$dirty && personalInfoForm.userFirstname.$valid)" translate="HINT_TXT_EMAIL_FIRSTNAME"></label>
                                                    <span class="textFieldError" ng-if="submitted && personalInfoForm.userFirstname.$error.required" translate="ERROR1"></span>
                                                    <span class="textFieldError" ng-if="submitted && personalInfoForm.userFirstname.$error.pattern" translate="ERROR10"></span>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 note parent no-padding-left">
                                                    <label ng-if="!submitted || (personalInfoForm.userLastname.$dirty && personalInfoForm.userLastname.$valid)" translate="HINT_TXT_EMAIL_LASTNAME"></label>
                                                    <span class="textFieldError" ng-if  ="submitted && personalInfoForm.userLastname.$error.required" translate="ERROR2"></span>
                                                    <span class="textFieldError" ng-if="submitted && personalInfoForm.userLastname.$error.pattern" translate="ERROR11"></span>
                                                </div>
                                            </div>
                                            <div class="fullWidth">
                                                <div class="col-md-6 col-sm-6 col-xs-6 form-group note parent" ng-class="{true: 'error'}[submitted && personalInfoForm.userFirstname.$invalid]">
                                                    <input id="userFirstname" name="userFirstname" type="text" class="form-control noBg" placeholder="{{'HINT_TXT_FIRST_NAME_MANAGE_ACCOUNT'|translate}}" ng-model="userInformation.firstName" ng-maxlength="25" ng-pattern="/^[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 _]*$/" required>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 form-group note parent no-padding-left" ng-class="{true: 'error'}[submitted && personalInfoForm.userLastname.$invalid]">
                                                    <input id="userLastname" name="userLastname" type="text" class="form-control noBg" placeholder="{{'HINT_TXT_LAST_NAME_MANAGE_ACCOUNT'|translate}}" ng-model="userInformation.lastName" ng-maxlength="25" ng-pattern="/^[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 _]*$/" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group note parent fullWidth" ng-show="nameInitialContainer">
                                            <div class="fullWidth parent">
                                                <div class="form-control" ng-bind="userInformation.firstName + ' ' + userInformation.lastName"></div>
                                                <div class="editControls">
                                                    <button class="btn btnEdit noBg" ng-disabled="emailInputFields || passwordInputFields" ng-click="enableNameInputFields()" translate="TXT_EDIT_ACCOUNT_MANAGEMENT"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="fullWidth">
                                        <div class="form-group note parent fullWidth" ng-show="emailInputFields" ng-class="{true: 'error'}[submitted && personalInfoForm.userEmail.$invalid]">
                                            <label ng-if="!submitted || (personalInfoForm.userEmail.$dirty && personalInfoForm.userEmail.$valid)" translate="HINT_TXT_EMAIL_ADDRESS_SIGN_UP"></label>
                                            <span class="textFieldError" ng-if="submitted && personalInfoForm.userEmail.$error.required" translate="ERROR3"></span>
                                            <span class="textFieldError" ng-if="submitted && personalInfoForm.userEmail.$error.pattern" translate="ERROR6"></span>
                                            <div class="fullWidth parent">
                                                <input name="userEmail" ng-model="userInformation.emailId" id="user-email" type="text" class="form-control noBg" placeholder="{{'HINT_TXT_EMAIL_ADDRESS_SIGN_UP'|translate}}" ng-pattern="/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/" required> 
                                            </div>
                                        </div>
                                        <div class="form-group note parent fullWidth" ng-show="emailInitialContainer">
                                            <div class="fullWidth parent">
                                                <div class="form-control" ng-bind="userInformation.emailId"></div>
                                                <div class="editControls">
                                                    <button class="btn btnEdit noBg" ng-disabled="nameInputFields || passwordInputFields" ng-click="enableEmailInputFields()" translate="TXT_EDIT_ACCOUNT_MANAGEMENT"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="fullWidth">
                                        <div ng-show="passwordInputFields">
                                            <div class="form-group note parent fullWidth" ng-class="{true: 'error'}[submitted && personalInfoForm.userCurrentPassword.$invalid]">
                                                <label ng-if="!submitted || (personalInfoForm.userCurrentPassword.$dirty && personalInfoForm.userCurrentPassword.$valid)" translate="TXT_CURRENT_PASSWORD_ACCOUNT_MANAGEMENT"></label>
                                                <span class="textFieldError" ng-if="submitted && personalInfoForm.userCurrentPassword.$error.required" translate="ERROR4"></span>
                                                <span class="textFieldError" ng-if="submitted && personalInfoForm.userCurrentPassword.$error.minlength" translate="ERROR8"></span>
                                                <span class="textFieldError" ng-if="submitted && personalInfoForm.userCurrentPassword.$error.maxlength" translate="ERROR12"></span>
                                                <div class="fullWidth parent">
                                                    <input name="userCurrentPassword" type="password" class="form-control noBg" placeholder="Current Password" ng-model="userCurrentPassword" ng-minlength="6" ng-maxlength="20" required>
                                                </div>
                                            </div>
                                            <div class="form-group note parent fullWidth" ng-class="{true: 'error'}[submitted && personalInfoForm.userNewPassword.$invalid]">
                                                <label ng-if="!submitted || (personalInfoForm.userNewPassword.$dirty && personalInfoForm.userNewPassword.$valid)" translate="TXT_NEW_PASSWORD"></label>
                                                <span class="textFieldError" ng-if="submitted && personalInfoForm.userNewPassword.$error.required" translate="ERROR5"></span>
                                                <span class="textFieldError" ng-if="personalInfoForm.userNewPassword.$dirty && submitted && personalInfoForm.userNewPassword.$error.nxEqual" translate="ERROR44"></span>
                                                <div class="fullWidth parent">
                                                    <input name="userNewPassword" type="password" class="form-control noBg" placeholder="New Password" ng-model="userNewPassword" nx-equal="userCurrentPassword" required>
                                                </div>
                                            </div>
                                            <div class="form-group note parent fullWidth" ng-class="{true: 'error'}[submitted && personalInfoForm.userConfirmPassword.$invalid]">
                                                <label ng-if="!submitted || (personalInfoForm.userConfirmPassword.$dirty && personalInfoForm.userConfirmPassword.$valid)" translate="TXT_CONFIRM_PASSWORD"></label>
                                                <span class="textFieldError" ng-if="submitted && personalInfoForm.userConfirmPassword.$error.required" translate="ERROR5"></span>
                                                <span class="textFieldError" ng-if="personalInfoForm.userConfirmPassword.$dirty && submitted && personalInfoForm.userConfirmPassword.$error.equals" translate="ERROR9"></span>
                                                <input name="userConfirmPassword" type="password" class="form-control noBg" placeholder="Confirm New Password" ng-model="userConfirmPassword" equals="{{userNewPassword}}" required>
                                            </div>
                                        </div>

                                        <div class="form-group note parent fullWidth" ng-show="passwordInitialContainer">
                                            <div class="fullWidth parent">
                                                <div class="form-control">********</div>
                                                <div class="editControls">
                                                    <button class="btn btnEdit noBg" ng-disabled="nameInputFields || emailInputFields" ng-click="enablePasswordInputFields()" translate="TXT_EDIT_ACCOUNT_MANAGEMENT"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>