@import '../index';

/*admin billing information*/

.billing-default-style {
  color: #98A9B5;
}
.billing-background-overlay {
  pointer-events: none;
  opacity: 0.7;
}
.help-default-style {
	color: #98A9B5;
}
