<style type="text/css">
    p.resetPwdText{
        font-size: 18px;
        color: #747474;
    }
    @media(max-width: 480px){
        p.resetPwdText{
            font-size: 15px;
        }
    }
</style>
<div class="loginModalContainer">
    <div  class="login-modal-body">
        <div class="col-md-12 col-sm-12 col-xs-12 informationSuccess center" ng-if="informationSuccessContainer">{{informationSuccessMessage | translate}}</div>
        <div class="col-md-12 col-sm-12 col-xs-12 informationError center" ng-if="informationErrorContainer" style="background-color: red;height: 60px;">{{informationErrorMessage | translate}}</div>
        <div class="fullWidth signupCreateAccount">
            <div class="col-md-12 caption">
                <h2 translate="TXT_PASSWORD_RESET_PASSWORD" style="padding-bottom:20px; margin-bottom: 0;"></h2>
            </div>
            <div class="col-md-5 col-sm-8 col-xs-12 text-center center-block" style="margin-bottom: 28px; float:none;">
                <p class="resetPwdText" translate="TEXT_ENTER_NEW_PASSWORD"></p>
            </div>
            <div class="createAccountForm clear col-md-3 center col-sm-8 col-xs-12 center-block package-content-box-3">
                <div class="container-fluid no-padding">
                    <div class="login-container signupTop">
                        <form novalidate  name="newPWForm" role="form">
                            <div class="fullWidth" >
                                <div class="clear"></div>
                                <span ng-show="ajaxResetPasswordSpinner" us-spinner class="yelloworangeloader"></span>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="uNewPassword" ng-model="uNewPassword" placeholder="{{'TXT_NEW_PASSWORD'|translate}}" id="uNewPassword" validate-new-password required/>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="uConfirmPassword" ng-model="uConfirmPassword" placeholder="{{'TXT_REENTER_NEW_PASSWORD'|translate}}" equals="{{uAdminNewPassword}}" id="uConfirmPassword" required/>
                                </div>
                                <div class="col-md-12 center no-padding col-md-margin-top-1">
                                    <alert class="alert-danger" id="button1" ng-show="reset_pwd_error" type="danger" close="closeResetPwdAlert()" class="font-size-7">{{errorResetPwdMessage | translate}}</alert>
                                  <!--   <alert class="alert-success" ng-show="reset_pwd_success" type="success" close="closeResetPwdSuccess()" class="font-size-7">{{successResetPwdMessage | translate}}</alert> -->
                                </div>
                                <div class="col-md-12 center no-padding">
                                    <button type="submit"  class="btn-custom-large-orange" ng-click="onSubmitButtonClick()" translate="TXT_SEND_HELP"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal-body -->
    <!-- modal-footer -->
    <div class="modal-footer top-button-modal-footer">
    </div><!-- /.modal-footer -->
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        "use strict";
        $('#menu').hide();
        $('#helpSear').hide();
        $('#logDrop').hide();
        $('#adminBtn').hide();
        $('#logSin').hide();
    });
</script>

