<script type="text/javascript">
	  jQuery(document).ready(function ($) {
	$("html, body").animate({ scrollTop: 0 }, "slow");
});
</script>
<div class="content">
	<div class="row extras-top no-margin">
		<div class="col-md-8 col-md-offset-2 " >
			<h3 style="font-family:helveticaneuebold">Privacy Policy</h3>
			<p>FOR PLACEMENT ONLY</p>
		</div>
	</div>
	<div class="extras-bottom row no-margin">
		<div class="col-md-8 col-md-offset-2 ">
<b translate="Effective Date"></b>
   <span translate="DateMM1"></span>
   <p translate="MainPara1"></p> 
   <p translate="MainPara2"></p> 
   <p translate="MainPara3"></p>
   <b translate="HeadingInfo1"></b><br>
   <b translate="HeadingInfo1Inside1"></b>
   <p translate="HeadingInfo1Inside1Para1"></p>
    <ul>
          <li translate="HeadingInfo1BulletData1"></li>
          <li translate="HeadingInfo1BulletData2"></li>
          <li translate="HeadingInfo1BulletData3"></li>
          <li translate="HeadingInfo1BulletData4"></li>
          <li translate="HeadingInfo1BulletData5"></li>
         </ul>
         <p translate="HeadingInfo1Inside1Para2"></p>
         <b translate="HeadingInfo1Inside2"></b>
         <p translate="HeadingInfo1Inside2Para1"></p>
         <p translate="HeadingInfo1Inside2Para2"></p>
         <p translate="HeadingInfo1Inside2Para3"></p>
         <p translate="HeadingInfo1Inside2Para4"></p>
         <p translate="HeadingInfo1Inside2Para5"></p>
         <b translate="HeadingInfo1Inside3"></b>
         <p translate="HeadingInfo1Inside3Para1"></p>
         <b translate="HeadingInfo2"></b><br>
   <p translate="HeadingInfo2Para1"></p>
    <ul>
          <li translate="HeadingInfo2BulletData1"></li>
          <li translate="HeadingInfo2BulletData2"></li>
          <li translate="HeadingInfo2BulletData3"></li>
          <li translate="HeadingInfo2BulletData4"></li>
          <li translate="HeadingInfo2BulletData5"></li>
         </ul>
         <p translate="HeadingInfo2Inside1Para2"></p> 
         <b translate="HeadingInfo3"></b><br>
         <p translate="HeadingInfo3Para1"></p>
         <ul>
          <li translate="HeadingInfo3BulletData1"></li>
          <li translate="HeadingInfo3BulletData2"></li>
          <li translate="HeadingInfo3BulletData3"></li>
          <li translate="HeadingInfo3BulletData4"></li>
          <li translate="HeadingInfo3BulletData5"></li>
         </ul>
         <p translate="HeadingInfo3Para2"></p>
         <b translate="HeadingInfo3Para3Heading"></b>
         <p translate="HeadingInfo3Para3"></p>
         <b translate="HeadingInfo4"></b>
         <p translate="HeadingInfo4Para1"></p>
         <b translate="HeadingInfo5"></b>
         <p translate="HeadingInfo5Para1"></p>
         <b translate="HeadingInfo6"></b>
         <p translate="HeadingInfo6Para1"></p>
         <b translate="HeadingInfo7"></b>
         <p translate="HeadingInfo7Para1"></p>
         <b translate="HeadingInfo8"></b>
         <p translate="HeadingInfo8Para1"></p>
         <b translate="HeadingInfo9"></b>
         <p translate="HeadingInfo9Para1"></p>
	</div>
	</div>

</div>