<style type="text/css">
	
	tr:nth-child(even) {
    background-color: #E2E6EA;
}

th
{
align:center;	
}
.row div
{
padding:6px;
align:center;
}
</style>


<div class="content">
	<div class="row extras-top no-margin">
		<div class="col-md-8 col-md-offset-2 " >
			<h3>System Requirements</h3>
			<p>The senior leadership of Accedo has been with the company from its founding to the global presence of today. The Accedo global management team brings together a long 
            </p>
		</div>
	</div>
	<div class="extras-bottom row no-margin">
		<div class="col-md-8 col-md-offset-2  col-sm-12">
			<b>BROWSER VS OPERATING SYSTEM COMPATABILITY</b>
			<hr/>
			<div class="row" style="background-color:#E2E6EA;font-weight:bold">
				<div class="col-md-2  col-sm-2">
					Operating System
				</div>
				<div class="col-md-1 col-sm-1">
				IE 10
				</div>
				<div class="col-md-1 col-sm-1">
				IE 9
				</div>
				<div class="col-md-1 col-sm-1">
				IE 8
				</div>
				<div class="col-md-1 col-sm-1">
				IE 7
				</div>
				<div class="col-md-1 col-sm-1">
				IE 6
				</div>
				<div class="col-md-2 col-sm-2">
				Firefox 6+
				</div>
				<div class="col-md-1 col-sm-1">
				Safari 4+
				</div>
				<div class="col-md-2 col-sm-2">
				Chrome 12+
				</div>
			</div>
			<div class="row" >
				<div class="col-md-2  col-sm-2">
				Windows 8(Desktop)
				</div>
				<div class="col-md-1 col-sm-1">
					<img ng-src="images/icontick_tukoise.png">
				</div>
				<div class="col-md-1 col-sm-1">
					<img ng-src="images/icontick_tukoise.png">
				</div>
				<div class="col-md-1 col-sm-1">
					<img ng-src="images/icontick_tukoise.png">
				</div>
			</div>
			<div class="row" style="background-color:#E2E6EA;">
				<div class="col-md-2  col-sm-2">
					Windows 7
				</div>
				<div class="col-md-1 col-md-offset-1 col-sm-1">
					<img ng-src="images/icontick_tukoise.png">
				</div>
				<div class="col-md-1 col-sm-1">
	
				</div>
				<div class="col-md-1 col-sm-1">
				<img ng-src="images/icontick_tukoise.png">
				</div>
				<div class="col-md-1 col-sm-1">
					<img ng-src="images/icontick_tukoise.png">
				</div>
				<div class="col-md-1 col-sm-1">
				<img ng-src="images/icontick_tukoise.png">
				</div>
			</div>
			<div class="row" >
				<div class="col-md-2  col-sm-2">
					Windows Vista
				</div>
				<div class="col-md-1 col-md-offset-1 col-sm-1">
					<img ng-src="images/icontick_tukoise.png">
				</div>
				<div class="col-md-1 col-sm-1">	
				</div>
				<div class="col-md-1 col-sm-1">
				<img ng-src="images/icontick_tukoise.png">
				</div>
				<div class="col-md-1 col-md-offset-2 col-sm-1">
					<img ng-src="images/icontick_tukoise.png">
				</div>
				<div class="col-md-1 col-sm-1">	
					<img ng-src="images/icontick_tukoise.png">
				</div>
			</div>
			<div class="row" >
				<div class="col-md-2  col-sm-2">
					Windows 8(Desktop)
				</div>
				<div class="col-md-1 col-sm-1">
					<img ng-src="images/icontick_tukoise.png">
				</div>
				<div class="col-md-1 col-sm-1">	
				</div>	
				<div class="col-md-1 col-sm-1">
				<img ng-src="images/icontick_tukoise.png">
				</div>
				<div class="col-md-1 col-sm-1">
				<img ng-src="images/icontick_tukoise.png">
				</div>
			</div>
			<br/><br/>
			<div class="row">
				<div class="col-md-8" >
					<b>HARDWARE REQUIREMENTS</b>
				</div>
			</div>
			<hr/>
		</div>
	</div>
</div>