
@font-face {
    font-family: 'yaveolight';
    src: url('yaveo-light.eot');
    src: url('yaveo-light.eot?#iefix') format('embedded-opentype'),
         url('yaveo-light.woff') format('woff'),
         url('yaveo-light.ttf') format('truetype'),
         url('yaveo-light.svg#yaveolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




